

<footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Developed by A Nyangani - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
 </footer>
 <script src="~/css/FooterStyling.css"></script>