@* <header>
  <nav class="navbar">
        <ul>
            <li class="nav-item">
                <a asp-controller="Home" asp-action ="Index" class="nav-links">Home</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="About" class="nav-links">About</a>
            </li>
            <li class="nav-item">              
                <a asp-controller="Home" asp-action="Skills" class="nav-links">Technical Skills</a>
            </li>
        </ul>
 </nav>
 </header>*@

