<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HandyMan</title>
    @await Html.PartialAsync("_StyleSheets")
  @await RenderSectionAsync("Stylesheets", false)
</head>

<body class="c-app">
    @await Html.PartialAsync("~/Views/Shared/_SideBarMenu.cshtml")
    <div class="c-wrapper">
        <!-- Header content here -->
        @await Html.PartialAsync("~/Views/Shared/_HeaderLayout.cshtml")
        <div class="c-body" id="bodyID">
                @RenderBody()
        </div>
           @await Html.PartialAsync("~/Views/Shared/_FooterLayout.cshtml")
    </div>
    @await Html.PartialAsync("~/Views/Shared/_Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>