<div class="sidebar">
      <h2>HandyMan</h2>
      <ul class="nav">
        <li>
          <a href="#"> <i class="fas fa-server"></i> <span>Dashboard</span></a>
        </li>
        <li>
          <a href=" @Url.Action("GetUsers", "Home")"> <i class="fas fa-concierge-bell"></i> <span>Services</span> </a> 
        </li>
        <li>
          <a href="#"> <i class="fas fa-calendar-alt"></i> <span>Events</span> </a>
        </li>
        <li>
          <a href="#"> <i class="fa fa-undo" aria-hidden="true"></i> <span>Setting</span> </a>
        </li>
        <li>
          <a href="#"> <i class="fas fa-question-circle"></i> <span>About</span> </a>
        </li>
        <li>
          <a href="#"> <i class="fas fa-address-card"></i> <span>Contact</span></a>
        </li>
      </ul>
    </div>
