@{
    ViewBag.Title = "About Us";
}
<main class="main">
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">About Us</a></li>
        </ol>
    </div>
    <br />

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i> About Us
            </div>
            <div class="card-body text-center">
             <p class="card-text">
                Welcome to our company! We specialize in providing top-notch services across various industries, including:
            </p>
            <ul>
                <li>Electricians</li>
                <li>Plumbers</li>
                <li>Painters</li>
                <li>Carpenters</li>
                <li>And many more...</li>
            </ul>
            <p class="card-text">
                Our team of skilled professionals is dedicated to delivering high-quality services and ensuring customer satisfaction. We are committed to excellence in everything we do, and we look forward to serving you.
            </p>
            </div>
        </div>
    </div>
</main>
