@model HandyMan.ViewModel.UsersViewModel
@{
    ViewBag.Title = "Home Page";  
}
<main class="main">
   
   
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-home"> You Are At Home</i>
            </div>
        <div class="card-body">
     <div class= "Container">
                <!-- banner -->
        <div class="banner">
            <div class="text">Hello!!  Welcome To</div>
            <div class="text">HandyMan</div>
            <a href="#" class="banner-btn">Read more</a>
        </div>
       </div>
    </div>

        </div>
    </div>
</main>