@{
    ViewBag.Title = "Home Page";

 
}
@section Stylesheets
{
    <link href="~/css/Home.css" rel="stylesheet" />
}

<main class="main">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-home"> You Are At Home</i>
            </div>
            <div class="card-body">
                <div class="Container">
                 
                    <h1 class="form-title welcome-tittle">
                        Welcome
                    </h1>
                    <h1 class="form-subtitle welcome-sub-title">
                        To HANDY MAN
                    </h1>

                </div>
            </div>
        </div>
    </div>
</main>