.navbar {
    /* border: 2px solid yellowgreen; */
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    font-family: var(--poppins);
    padding: 2em 6.2em;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}



    .navbar ul {
        padding-top: .5em;
        list-style-type: none;
    }



    .navbar .nav-item {
        display: inline-block;
        padding-left: 2.5em;
        /* transition: all 0.5s ease;    */
    }

        .navbar .nav-item .nav-links {
            color: #eee;
            font-weight: bolder;
            text-decoration: none;
            text-transform: capitalize;
            transition: all 0.5s ease;
        }

            .navbar .nav-item .nav-links:hover {
                color: var(--citrus);
            }
